body {
  font-family: "Fira Mono", monospace;
  margin: 20px;
  width: 90%;
  margin: auto;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

tr th:nth-child(3), tr td:nth-child(3) {
  border-right: 1px solid #ccc;
}

.unit {
  font-weight: lighter;
  color: #C0C0BB;
}

th, td {
  padding: 10px 12px;
  text-align: left;
}

th {
  background-color: #FAFAF5;
  cursor: pointer;
  position: relative;
  text-wrap:nowrap;
}

th:hover {
  background-color: #ececec;
}

tr i {
  color: #A9A9A4;
}

tr.selected {
  background-color: #E6E8FF;
  color: #0030C7;
}

.selected-icon {
  color: #0032C7;
}

.deselected-icon {
  color: #A9A9A4;
}

td:focus {
  outline: 1px solid #0032C7;
  background-color: white;
}

@media screen and (max-width: 480px) {
  .table-container {
    width: 100%;
    overflow-x: auto; 
  }

  table {
    width: 100%;
  }
  .header {
    height: auto;
    flex-direction: column;
  }
}
